body {
  background-color: #ed7;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #222;
}

#main_content {
  padding: 25px;
  background-color: #eee;
  width: 900px;
  margin: 30px auto;
  border: 4px solid #666;
}

ul#tables {
  list-style: none;
  background-color: #ed7;
  padding: 20px;
  border: 2px solid #222;
}

ul#tables li {
  display: inline-block;
  width: 10px; height: 10px;
  padding: 50px;
  border-radius: 50%;
  border: 2px solid #222;
  background-color: red;
  margin: 10px;
}

ul#tables li.highlighted {
  border: 2px solid #66b5ff;
}

#tables_controls {
  margin-bottom: 10px;
}

#orders_container {
  float: left;
  width: 300px;
  padding: 10px;
  border: 2px solid #222;
  margin-top: 10px;
}

ul#orders {
  list-style: none;
  padding: 0;
}

ul#orders li {
  margin: 5px;
}

#example {
  width: 512px;
  float: left;
  padding: 20px;
  border: 2px solid black;
  margin: 10px 0 0 20px;
}

#status {
  width: 100px;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  color: #eee;
  text-align: center;
}

#status.working {
  background-color: lime;
  color: black;
}

.done {
  text-decoration: line-through;
}

.right {
  float: right;
}

.green {
  background-color: green !important;
}

.blue {
  background-color: #55d !important;
}

.clear {
  clear: both;
}
